<div class="panel panel-default">
    <div class="panel-heading">
        Categorias
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="panel-heading">
            Editando Categoria
        </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.panel-body -->
</div>